################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC2023/Output
/AOC2023/bin
/AOC2023/obj
.vs